
.contenedorGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr)
}
.contenedorFlex{
    display: flex;
    justify-content: center;
    align-items: center
}

@width:100%;
@colorfondo:#ffffff;
@fondo:"../img/fondo2.jpg";

div{
    .contenedorFlex();
    width: @width;
    height: 100vh;
    background-color: @colorfondo;
    ul{
        .contenedorGrid();
        gap: 15px;
        width:@width;
        max-width: 800px;
        padding: 10px;
        list-style: none;

       li{
           color: black;
           height: 150px;
           border-radius: 10px;
           position: relative;

           div{
               transition: all 1s ease-in-out;
               position: absolute;
               width: 100%;
               height: 100%;
               border-radius: 10px;
               backface-visibility: hidden;
               .contenedorFlex();
          }
           .front{
               background-image: url("../img/fondo2.jpg");
               background-position: center;
               background-size: cover;
               transform: perspective(500px) rotateY(0deg)
            }
            .back{
                background-color: blue;
                transform: perspective(500px) rotateY(180deg);
                img{
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                }
            }
            
       } 
       .estado1{
      
            .front{
                background-color: brown;
                transform: perspective(500px) rotateY(180deg)
            }
            .back{
                background-color: blue;
                transform: perspective(500px) rotateY(360deg)
                
            }
       }
       .estado2{
            .front{
                background-color: brown;
                transform: perspective(500px) rotateY(180deg)
            }
            .back{
                background-color: blue;
                transform: perspective(500px) rotateY(360deg)
                
            }
       }

       
    }
}